@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	--color-primary: #36373a;
	--color-secondly: #f9faff;
	--color-highlight: #ff7866;
	--color-text: #727272;
	--text-size: 0.6rem;
	--font-family: 'Raleway', sans-serif;
}

body {
	background-color: var(--color-primary);
	font-family: var(--font-family);
	font-size: var(--font-size-1);
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

p {
	color: var(--color-text);
	font-size: var(--text-size);
	line-height: 1.7;
	padding: var(--size-2);
}

/* HEADER STYLES */
header {
	border-bottom: 1px blue solid;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* TITLE STYLES */
.title {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.title-image {
	width: 100px;
}
.title-header {
	width: 250px;
}
/* NAVBAR STYLES */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}
.navbar__brand-name {
	margin: var(--size-2);
	width: 15rem;
}

.navbar__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar__list-item {
	margin-left: 2rem;
}
.navbar__list-item-image {
	height: 1rem;
}
.navbar__list-item-link {
	font-size: 1.2rem;
	font-weight: 400;
	color: #475569;
}

.navbar__list-item-link:hover {
	color: green;
}
.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #fff;
}

@media only screen and (max-width: 768px) {
	.navbar__list {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}
	.navbar__list.active {
		left: 0;
	}
	.navbar__list-item {
		margin: 0.5rem 0;
	}
	.hamburger {
		display: block;
		cursor: pointer;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 100;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}
@media only screen and (max-width: 40rem) {
	.title-image {
		width: 70px;
	}
	.title-header {
		width: 150px;
	}
	header {
		justify-content: center;
	}
}

/* Main Styles */
.main {
	max-width: 1440px;
	margin: 0 auto;
	@media (min-width: 40rem) {
		padding: 1rem;
	}
}

/* HERO STYLE */

.hero {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-block: var(--size-9);
	align-content: center;
}
.hero__video-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero__video {
	padding: var(--size-1);
	height: 70vh;
}
.hero__content-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.hero__content-image {
	grid-column-start: 1;
	grid-column-end: 3;
	width: 100%;
	padding: var(--size-6);
}
.hero_content-text {
	grid-column-start: 3;
	grid-column-end: 5;
	width: 100%;
	border-radius: var(--size-1);
	display: flex;
	align-items: center;
}

.hero_content-text p {
	font-size: var(--size-3);
	text-align: center;
	line-height: 1.4;
	color: var(--color-secondly);
}
.hero__content-gallery {
	grid-column-start: 1;
	grid-column-end: 5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.gallery__image-1 {
	width: 200px;
	padding: var(--size-1);
}

/* ABOUT SECTION STYLE */

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
}
.about__content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: var(--size-5);
	grid-column-start: 1;
	grid-column-end: 2;
}
.about__content-image {
	width: 50%;
}
.about__content-header {
	width: 80%;
	font-size: var(--size-4);
}
.about__content-text {
	width: 80%;
	font-size: var(--size-3);
}

.about__image-gallery {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr 1fr;
	padding: var(--size-6);
	column-gap: var(--size-1);
}
.about__image-1 {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
}
.about__image-2 {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	margin-top: -10px;
}
.about__image-3 {
	margin-top: -10px;
	width: 100%;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

/* Services Style */
.services {
	display: flex;
	-webkit-display: box;
	-moz-display: box;
	-ms-display: flexbox;
	-webkit-display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
/* Card Styles for Services */
.card {
	display: flex;
	padding-inline: var(--size-1);
	margin-block: var(--size-3);
}
@media only screen and (min-width: 40rem) {
	.card {
		width: 50%;
	}
}
@media only screen and (min-width: 56rem) {
	.card {
		width: 20%;
	}
}

.card-content {
	display: flex;
	flex-direction: column;
	background-color: rgb(244, 250, 254);
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}
.card-content:hover {
	cursor: pointer;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.card-info {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 1rem;
	line-height: 1.5em;
}
.card-image {
	height: 150px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 6px 6px 0px 0px;
	opacity: 0.91;
}
.card-text {
	height: 100px;
}
.card-header {
	width: 25%;
	margin-inline: auto;
	margin-block: var(--size-1);
}
.card-link {
	text-align: center;
	text-transform: uppercase;
	font-size: var(--size-2);
	color: var(--color-primary);
}

/* Video and Conform container */

.monthlycartoon__contactform-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* video styles */

.cartoonofthemonth__video {
	max-width: 500px;
}

/* Contact form styles */

.contactform {
	width: max-content;
	height: 70vh;
}
.contactform__form-input,
.contactform__form-textarea {
	display: block;
	width: 100%;
	padding: 9px 20px;
	border: 1px solid #e1e2eb;
	background-color: #fff;
	color: #102a43;
	/*     caret-color: #829ab1; */
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 2rem;
	box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
	border-radius: 3px;
	line-height: 2rem;
}
.contactform__form-label {
	display: block;
	width: 100%;
	padding-block: var(--size-2);
}
.contactform__form-button {
	background: #fc4366;
	color: white;
	font-weight: 700;
	font-size: 1.2rem;
	border-radius: 5px;
	margin-block-start: var(--size-5);
	border: 0;
}

.contactform__form {
	background-color: #ebebeb;
	padding: var(--size-3);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
	border-radius: var(--size-1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* footer section styles */

/* .footer {
	background-color: var(--blue-2);
	margin: 0;
}

.footer__list {
	margin: 0 auto;
	max-width: 1440px;
	list-style: none;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
} */
