*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	--color-primary: #668FBD;
	--color-highlight:#D8A197;
	--color-light:#f5f7fa;
	--color-background:#fcf8c49f;
	--color-text: #9A9A9A;
	--color-header:#363636;
	--font-text:'frank-new',sans-serif;
	--font-title:'itc-american-typewriter',serif;
	--font-header:'montserrat', sans-serif;
}

/* GLOBE STYLES */

body {
	/* background:linear-gradient(135deg, #ff0000 0%, #ff0095 100%); */
	background-repeat: no-repeat;
	font-family: var(--font-text);
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	margin: 0 auto;
	font-size:15px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

p {
	color: var(--color-text);
	line-height: 1.7;
	padding: var(--size-1);
	font-size: var(--text-paragraph);
}

/* ***************************************************** */

/* nav STYLES */
.nav {
	width:calc(100% - 10%);
	margin-inline:auto; 
	padding:0.5rem 0;
	/* background-color: #ff7866;       */
}
.nav__container{
	display:flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: darkgoldenrod;  */
}
.nav__logo-container {
	margin-inline:1rem;
}
.nav__logo-container > img {
	width:20rem;

}
.nav__image-container > img {
	width:10rem;
}
.nav__list {
	margin:0;
	padding:2rem;
	display:flex;
/* background-color: aqua;  */
}
.nav__list > li {
	padding-inline: 2rem;
}
.nav__list-item > a {
	font-family: var(--font-header);
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 0.5px;
	font-weight: 800;
	color:#363636;
	cursor:pointer;
	transition: all 0.2 ease-out;
	/* background-color:green;   */
}
.nav__list-item > a:hover {
	color: var(--color-primary);
	text-decoration: underline;
}

@media only screen and (max-width: 60rem) {

	.nav {
		width: 100%;
		/* background-color: #ff7866; */
	}
		
	.nav__container {
		display:grid;
		grid-template-rows: 1fr 1fr min-content;
		grid-template-columns: repeat(4,1fr);
	}
		
	.nav__logo-container {
		grid-row-start: 2;
		grid-column-start: span 4;
		display:flex;
		justify-content: center;
		align-items: center;
	}
		
	.nav__logo-container>img {
		width:250px;
	}
		
	.nav__image-container {
		grid-row-start: 3;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	.nav__image-container:nth-of-type(2) {
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.nav__image-container > img {
		width:8rem;
		margin-top:1rem;
	}
	.nav__list {
		grid-row-start: 1;
		grid-column-start: span 4;
		/* background-color: aqua; */
		flex-direction: row;
		padding:0;
		justify-content: space-evenly;
	}
	.nav__list>li {
		padding: 0;
		margin:0 10px;
	}
	.nav__list-item	>a {
		font-size: 0.7rem;
		/* background-color: green; */
	}
		
}
@media only screen and (max-width: 75rem) {
	.nav {
		width:100%;
	}
.nav__logo-container>img {
		width: 200px;
	}
		.nav__image-container>img {
			width: 7rem;
			margin-top: 1rem;
		}
}
/* ***************************************************** */

/* Main Styles */
.main {
	max-width: 1440px;
	margin: 0 auto;
}
/* ***************************************************** */

/* HERO STYLE */

.hero {
	width: 100%;
	/* background-color: mediumvioletred;   */
	margin: 0 auto;
}

.hero__container {
	display:grid;
	grid-template-columns: 1fr 2fr;
	/* background-color: darkgreen; */
}
.latest-work__container {
	display:flex;
	flex-direction: column;
	width:100%;
}
.latest-work__container > h2 {
	text-align: center;
	padding:1em 1.5em;
	margin:1.5rem auto 0 auto;
	background-color:var(--color-primary);
	font-size: 0.7rem;
	text-transform: uppercase;
	color: var(--color-light);
	letter-spacing: 1px;
	border-radius: 5px;
}
 /* carousel styles */ 
 .carousel__container {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }

 .carousel {
 	display: block;
 	width: 100%;
	position: relative;
 }

 .carousel__slides {
 	width: 100%;
 	/* background-color: aquamarine; */
 }

 .carousel__slide {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	position: absolute;
	top:290px;
 	width: 100%;
 	height: 100%;
 	background-color: lemonchiffon;
 	transition: 1s;
 	opacity: 0;
 }

 .carousel__slide.active {
 	opacity: 1;
 }
 .carousel__slide > p,a {
	 margin:0;
	 font-size: 2vh;
	 color:var(--color-header);
 }

 .carousel__slide>img {
 	width: 70%;
 }

 .carousel__nav-button {
 	position: absolute;
 	height: 25px;
 	width: 25px;
 	background-color: #333;
 	opacity: .8;
 	cursor: pointer;
 }

 #nav-button--prev {
 	top: 250px;
 	left: 20px;
 	transform: translateY(-50%);
 }

 #nav-button--next {
	top: 250px;
 	right: 20px;
 	transform: translateY(-50%);
 }

 #nav-button--prev::after,
 #nav-button--next::after {
 	content: "";
 	position: absolute;
 	border: solid white;
 	border-width: 0 4px 4px 0;
 	display: inline-block;
 	padding: 3px;
 	width: 40%;
 	height: 40%;
 }

 #nav-button--next::after {
 	top: 50%;
 	right: 50%;
 	transform: translate(25%, -50%) rotate(-45deg);
 }

 #nav-button--prev::after {
 	top: 50%;
 	right: 50%;
 	transform: translate(75%, -50%) rotate(135deg);
 }


 /* carousel styles end */
.title-container{
	padding:3rem 5rem 0rem 0;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}
.title-container > h2 {
	font-size: 7rem;
	margin: 0;
	font-family: var(--font-header);
	font-weight: 900;
	text-align: end;
	color:#363636;
}
.title__link-container {
	margin: 3.5rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.title__link-container > a {
	background-color: var(--color-primary);
	border-radius: 5px;
	font-size: 0.7rem;
	text-align: center;
	padding: 1em 1.5em;
	text-transform: uppercase;
	color:var(--color-light);
	letter-spacing: 1px;
	font-weight: 900;
}

.title__link-container > i {
	margin: 2rem auto;
}

@media only screen and (max-width: 60rem) {

	.hero {		
		/* background-color: mediumvioletred;   */
		height: fit-content;
	}
	.hero__container {	
		display:flex;
		flex-direction: column-reverse;	
	}
	.latest-work__container {
		/* grid-row-start: 2;
		margin:0;
		position: relative;	
		z-index: 3; */
		display:none;

	}
	.carousel__slide>img {
		width:75%;
		padding:0;
	}
	#nav-button--prev {
		top: 170px;
		left: 10px;
		transform: translateY(-50%);
	}

	#nav-button--next {
		top: 170px;
		right: 10px;
		transform: translateY(-50%);
	}
			/* carousel styles end */
	.title-container {
		padding:0;
		margin-top:3rem;
		margin-inline: auto;
	}

	.title-container>h2 {
	font-size: 2.9rem;
	text-align: left;
	}
}

@media only screen and (max-width: 75rem) {
	.title-container>h2 {
			font-size: 5rem;
			text-align: right;
		}
	.carousel__slide{
		top:250px;
	}
}

/* ***************************************************** */

/* ABOUT SECTION STYLE */

.about {
	/* background-color: #ff7866;  */
	margin: 0rem auto;
	width:100%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	/* height:100vh; */
	align-content: center;
}


.about__content-container {
	display:flex;
	flex-direction: column;
	align-items: center;
	padding:var(--size-1);
	margin: 0 auto;
	/* background-color: aquamarine; */
}
.about__content-title{
	font-size: 5.5rem;
	margin:0 auto;
	text-align: center;
}
.about__content-header {
	font-size:0.9rem;
	text-align: center;
	line-height: 1.6;
	margin: 1rem 0;
	padding-inline: 20px;
	
}
.about__content-image {
	width: 70%;
	border-radius: var(--size-2);
}

.about__content-text {
	font-size: 0.8rem;
	line-height: 1.7;
	padding-inline: 20px;
	color:#363636;
	margin:1rem 0;
	text-align: center;
}
/* ***************************************************** */

/* GALLERY SECTION STYLE */
.gallery{
	width:100%;
	margin-inline:auto;
	margin-block:0rem;
	/* background-color: darkturquoise; */
}

.gallery-container {
	margin-inline: auto;
	width:calc(100% - 10%);
	/* background-color: tomato; */
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap:var(--size-6);
	/* margin-top:4.5rem; */

}
.gallery-row {
	display:flex;
	flex-direction: row;
	width:100%;
	justify-content: space-between;
}
.col > img {
	padding: 0.6rem;
	transition: all 0.2 ease-out;
	height:13.3rem;
	border-radius: 0.75rem;
}
.col>img:hover {
	transform: scale(1.1);
}
@media only screen and (max-width: 60rem) {
.about {
	display:flex;
	flex-direction: column;
}
.gallery-container {

	margin:2rem auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: var(--size-2);
	/* margin-top:4.5rem; */

}
.gallery-row {
justify-content: center;
}
.col > img {
height: 15rem;
padding: 0.1rem;
border-radius: 0;
}
}
@media only screen and (max-width: 40rem) {
	.col>img {
			height: 8rem;
			padding: 0.1rem;
			border-radius: 0;
		}
}
@media only screen and (max-width: 75rem) {
.about {
	align-items: center
}
.col>img {
			height: 9.5rem;
			padding: 0.1rem;
			border-radius: 0;
		}
}

/* ***************************************************** */



/* WORK SECTION STYLE */

/* global work styles */

.work{
	width: 100%;
	margin-inline: auto;
	margin-block: 2rem;
}
.work-container {
	width:calc(100% - 1%);
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;	
	grid-template-rows: repeat(2, 1fr);
	margin:auto;
}
.work-container > article {
	padding:1rem;
}
.work-article-container	{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.work-article-container > img {
	height: 14rem;
	padding:0.75rem; 
}
.work-article-container > h2{
	font-family:var(--font-header);
	font-size:var(--size-6);
	color:#363636;
	margin:1.5rem;
}
.work-article-container	> p  {
	margin:0;
	font-weight: 500;
	padding:0.2rem 0.4rem;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	border-radius: 0.3rem;
	color: var(--color-header);
	font-size: 0.7rem;
}
.work-article-container>p::before {
	content:'';
	display: block;
	background: url("/images/newspaper-solid.svg") no-repeat;
	width: 20px;
	height: 20px;
	margin:0.5rem auto;
}
.work-article-container > a {
	color:var(--color-light);
	font-weight: bolder;
	margin:0.4rem auto;
	padding:0.5rem 0.7rem;
	background-color: var(--color-primary);
	font-size: 0.7rem;
	border-radius: 0.4rem;
}
.work-link > span {
	color:var(--color-light);
	font-size: 0.8rem;
}
@media only screen and (max-width: 60rem){
.work-container {
	display:flex;
	flex-direction: column;
}
.work-article-container>img {
	height: 13rem;
	padding:0;
}
.strips-container>img {
	height: 9rem;
}
}
@media only screen and (max-width: 75rem){
	.work-container {
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: repeat(3, 1fr);
	}
	.work-article-container>img {
			height: 10rem;
			padding: 0;
		}
}

/* global work styles end */

/* Work Title style */
.work__title-container {
	display:flex;
	justify-content: center;
	align-items: center;
}
.work__title {
	font-size: 7rem;
}
/* newspaper styles */
/* newspaper styles end */

/* magazine styles */
.magazines-image-container {
	display:flex;
	justify-content: space-between;
}
.magazines-image-col {
	display:flex;
	flex-direction: column;
	align-items: center;
}
.magazines-image-col > img {
	height: 15rem;
	padding: 0.7rem;
	margin-inline:10px;
	border-radius: 10px;
}
.magazines-image-col > p {
	margin: 0;
		font-weight: 500;
		padding: 0.2rem 0.4rem;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		border-radius: 0.3rem;
		color: var(--color-header);
		font-size: 0.7rem;
}
.magazines-image-col >p::before {
	content: '';
	display: block;
	background: url("/images/newspaper-solid.svg") no-repeat;
	width: 20px;
	height: 20px;
	margin: 0.5rem auto;
}
.magazines-image-col > a {
color: var(--color-light);
	font-weight: bolder;
	margin: 0.4rem auto;
	padding: 0.5rem 0.7rem;
	background-color: var(--color-primary);
	font-size: 0.7rem;
	border-radius: 0.4rem;
}

@media only screen and (max-width: 40rem) {
	.magazines-image-col>img {
			height: 7rem;
			padding: 0.7rem;
			margin-inline: 10px;
			border-radius: 10px;
		}
}
@media only screen and (max-width: 75rem) {
	.magazines-image-col>img {
			height: 10rem;
			padding: 0.7rem;
			margin-inline: 10px;
			border-radius: 10px;
		}
}











/* ***************************************************** */



/* CONTACT SECTION STYLE */

.contact {
	width: 100%;
	/* background-color: darkred;  */
	margin-block:4rem;
}
.contact-container {
	display:grid;
	grid-template-columns:repeat(2, 1fr) ;
}
.contact-container > article {
	width:100%;
}
.email {
	/* background-color: lightgreen; */
	display:flex;
	position: relative;   
}
.email > h5 {
	position: absolute;
	right:40%;
	top:10%;
	font-size:2rem;
	font-family: var(--font-title);
	text-transform: uppercase;
}
.email > a {
	position: absolute;
	right: 35%;
	top: 50%;
	font-size: 1.2rem;
	color:var(--color-text);
	
}
.linkdin	{
	/* background-color: lightslategray; */
	display: flex;
	justify-content: end;
	flex-direction: row-reverse;
	position: relative;

}

.linkdin > h5 {
	position: absolute;
	right: 40%;
	top: 10%;
	font-size: 2rem;
	font-family: var(--font-title);
	text-transform: uppercase;
}

.linkdin > a {
	position: absolute;
	left: 45%;
	top: 50%;
	font-size: 1.2rem;
	color: var(--color-text);
}

@media only screen and (max-width: 40rem) {
.contact{
	margin:2rem auto;
}
.contact-container {
	display: flex;
	flex-direction: column;
}
.email	>	h5 {
	left:55%;
}
.email > a {
	left: 50%;
}
.linkdin	>	h5 {
	right: 55%;
}

.linkdin	>	a  {
	left: 18%;
}
}