*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	--color-primary: #0b1c4c;
	--color-secondly: #f0f3ff;
	--color-highlight: #ff7866;
	--color-text: #727272;
	--text-size: 0.8rem;
}

body {
	font-family: var(--font-sans);
	font-size: var(--font-size-1);
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

p {
	color: var(--color-text);
	font-size: var(--text-size);
	line-height: 1.7;
	padding: var(--size-2);
}

/* HEADER STYLES */
header {
	border-bottom: 1px blue solid;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* TITLE STYLES */
.title {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.title-image {
	width: 150px;
}
.title-header {
	width: 500px;
}
/* NAVBAR STYLES */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}
.navbar__brand-name {
	margin: var(--size-2);
	width: 15rem;
}

.navbar__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar__list-item {
	margin-left: 2rem;
}
.navbar__list-item-image {
	height: 1rem;
}
.navbar__list-item-link {
	font-size: 1.2rem;
	font-weight: 400;
	color: #475569;
}

.navbar__list-item-link:hover {
	color: green;
}
.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}

@media only screen and (max-width: 768px) {
	.navbar__list {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}
	.navbar__list.active {
		left: 0;
	}
	.navbar__list-item {
		margin: 0.5rem 0;
	}
	.hamburger {
		display: block;
		cursor: pointer;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 100;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

/* Main Styles */
.main {
	max-width: 1440px;
	padding: 2rem 0.5rem;
	margin: 0 auto;
	@media (min-width: 40rem) {
		padding: 2rem;
	}
}

.hero {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

/* Quick one style */

.quickone__card {
	display: flex;
}
.quickone__card-content {
	display: flex;
	flex-direction: column;
	background-color: rgb(231, 245, 255);
	border-radius: 6px;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}
.quickone__card-video {
	height: 300px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.quickone__card-header {
	width: 50%;
	margin: var(--size-4) auto;
}

/* IMAGE SECTION STYLE */
.image__gallery {
	display: flex;
	flex-direction: column;
	padding: var(--size-9);
}
.image__gallery-top {
	width: 501px;
}
.image__gallery-container {
	padding-block: var(--size-2);
}
.image__gallery-left {
	width: 249px;
}
.image__gallery-right {
	width: 249px;
}

/* About Section style */
.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.about__header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: var(--size-9);
}
.about__card-sub-header {
	font-size: var(--size-3);
	display: inline-block;
	text-align: center;
	line-height: var(--size-5);
}
.about__card-header {
	width: 50%;
}
.about__card-text {
	grid-column-start: span 2;
}

.about__card-content {
}
.about__card-content:hover {
}
.about__card-image {
	border-radius: var(--size-2);
	width: 520px;
	margin: 0 auto;
}

/* Services Style */
.services {
	display: flex;
	-webkit-display: box;
	-moz-display: box;
	-ms-display: flexbox;
	-webkit-display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
/* Card Styles for Services */
.card {
	display: flex;
	padding: 1rem;
	margin-bottom: 2rem;
	width: 100%;
}
@media only screen and (min-width: 40rem) {
	.card {
		width: 50%;
	}
}
@media only screen and (min-width: 56rem) {
	.card {
		width: 33.3%;
	}
}

.card-content {
	display: flex;
	flex-direction: column;
	background-color: rgb(231, 245, 255);
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}
.card-content:hover {
	cursor: pointer;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.card-info {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 1rem;
	line-height: 1.5em;
}
.card-image {
	height: 300px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 6px 6px 0px 0px;
	opacity: 0.91;
}
.card-header {
	width: 25%;
}
*/
/* video styles */

.cartoonofthemonth__video {
	max-width: 300px;
}

/* Contact form styles */

.contactform__form {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.contactform__form-name-label {
	font-size: var(--size-2);
}

/* footer section styles */

/* .footer {
	background-color: var(--blue-2);
	margin: 0;
}

.footer__list {
	margin: 0 auto;
	max-width: 1440px;
	list-style: none;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
} */
